# Application Configuration
PORT=3000
USE_FAKE=false

# API Endpoints
API_DIRIGERA_BASE=http://localhost:8000
API_TELLSTICK_BASE=http://localhost:5001/tellstick
API_RUUVITAG_BASE=http://localhost:3102/ruuvitag
API_TAPO_CAMERA_BASE=http://localhost:5020/privacy
